<ng-container [ngSwitch]="layout$ | async">
  <seed-sidebar-layout *ngSwitchCase="'sidebar'"></seed-sidebar-layout>
  <seed-standalone-layout *ngSwitchCase="'standalone'"></seed-standalone-layout>

  <router-outlet *ngSwitchCase="'blank'"></router-outlet>

  <!-- get current user loading, for landing any page -->
  <div
    class="top-15 absolute left-0 right-0 bottom-0 z-10 flex flex-col items-center justify-center backdrop-blur-lg"
    *ngIf="authService.loading$ | async"
  >
    <div class="spinner"></div>
    <div>Checking User Information</div>
  </div>

  <!-- <seed-default-layout *ngSwitchDefault></seed-default-layout> -->
</ng-container>
